<div class="border-bottom row" style = "margin-botton:4px; padding-bottom : 8px;">
  <div class = "col-9">
    <h4 style = "color: rgb(120,120,120); margin-bottom : 4px;"> 
    {{job["title"]}}</h4>
    <div>
    <b>Location</b> : {{job["location"]}}
    </div>
    {% if 'salary' in job %}
    <div>
    <b>Salary</b> : {{job["salary"]}}
    </div>
    {%endif%}
  </div>
  <div class = "col-3 mt-4">
  <a href = "mailto:applytous@jobjunction.com?subject=Applying%20for%20{{job['title']}}%20role&body=My%20name%20%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Resume%3A%20%3Cyour%20resume%20here%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>